*{  padding: 0;
    margin: 0;
    
}

    


@media only screen and (min-width: 0px) and (min-width: 600px) {
    .container{
        display: grid;
        grid-template-areas:
        "header2 header2"
        "navIzq navDer"
        "parrafoimg parrafoimg"
        "footer footer";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 70px auto 1fr 100px;
        

    }
}
/* main{
    position: relative;
  
} */

@keyframes opacity{ 100% {opacity: 0;}
from {left: 0px;}
to {left: 200px;}

}

.logo01 {
    
    padding-top: 10px;
    margin: 1px;
    
    overflow: hidden;
    
    
}

.logo02 {display: flex;
    padding-top: 10px;
    height: 50px;
    overflow: hidden;  
    backdrop-filter:  opacity(50%);
}

.header2 {display: grid ;
    grid-template-columns: 1fr ;
    grid-template-rows: 20px;
    justify-content:space-between;
    justify-items: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
    
    
    
    
    
}
.header2 ul {
    display: flex;
    flex-direction: row;
    position: relative;
    
}
.header2 ul li {
    list-style: none;
    padding: 5px;
    position: relative
} 

.header2 ul li a {color: rgb(230, 217, 217);
    text-decoration: none;
    text-transform: uppercase;

    
    
 }
 .header2 ul li a:hover {display: grid;
    grid-column-start: auto;
    justify-content: center;
    transform: translate(20px 50px);
    transform:scale(1.5);
    position: relative;
    background-color: rgba(53, 5, 5, 0.096);

}
.link{  
    background-color: rgba(2, 2, 2, 0.493);
    padding: 20px 20px;
    border-radius: 10px;
    margin: 2px;
    text-shadow: 5px 5px 5px rgba(223, 32, 32, 0.438);
}
.link01 {background-color: rgba(213, 224, 224, 0.349);
    padding: 20px 30px;
    border-radius: 20px;
    margin: 5px;
    justify-items: center;
    text-shadow: 5px 5px 5px rgba(223, 32, 32, 0.438);
    padding: 0px;
}
.titulo1 {display: flex;
    
   position: relative;
    justify-content:center;
    align-content: center;
    font-size: 70px;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    
    color: rgb(255, 255, 255);
    background-color: rgb(5, 4, 4);

}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    color: #b8c1ec;
    height: 100vh;


    background-color: black;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 10px;
    color: #b8c1ec;
    padding: 10px;
    font-size: 18px;
    height: 100%;
    padding: 10px;
}
.izquierda{
        
        background-color: black;
        background-position: center;
        background-size: cover;
        color: #b8c1ec;
        padding: 10px;
        font-size: 18px;
        position: relative;
        padding: 10px;
    
}
.imagen_derecha{display:grid;
                max-width: 100%;

}
.derecha{
    
    
    background-size: cover;
    color: #050e38;
    font-size: 18px;
    
    
    
}
.iconos{
    height: 25px;
}



.fixed-bottom{
    background-color: black;

    position:relative;
    background: url(../image/header\ 1.png);
    background-position: center;
    background-size: cover;
    width: 102%;
    

}

.sticky-lg-bottom{position: sticky;
    bottom: 100%;

}
.boton2 ul {
    display: flex;
    flex-direction: row;
    
}
.boton2 ul li {
    list-style: none;

    position: relative;;
} 

.boton2 ul li a {color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
   
    align-items: center;
}
.boton2 ul li a:hover {display: flex;
    transform: translate(20px 50px);
    animation: opacity  5s infinite;
    position: relative;
    background-color: rgb(225, 225, 236);
}